/* CustomRadioButton.css */
.custom-radio {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 32px;
    height: 32px;
    border: #cccccc solid 1px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 10px;
}

.custom-radio .custom-radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    display: none;
}

.custom-radio-label {
    position: absolute;
    color: #888888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Updated CSS selectors */
.custom-radio:hover,
.custom-radio:hover .custom-radio-label {
    color: #222222;
    border-color: #222222;
}

.custom-radio .custom-radio .custom-radio-input:checked~.checkmark {
    color: #222222;
    border: #222222 solid 2px;
    display: block;
}

.custom-radio .checkmark {
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border: #cccccc solid 1px;
}